<div class="d-flex w-100">
    <div class="col-6"><h1>Job Types</h1></div>
    <div class="col-6 text-end"><button class="mt-2" nz-button nzType="primary"(click)="open_create_drawer()">Add New</button></div>
</div>

<hr>

<ag-grid-angular
    class="ag-theme-alpine data-grid mb-5"
    [serverSideStoreType]="serverSideStoreType"
    [paginationPageSize]="paginationPageSize"
    [defaultColDef]="defaultColDef"
    [rowModelType]="rowModelType"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [rowData]="rowData"
    [sideBar]="sideBar"
    (gridReady)="onGridReady($event)"
    (rowDoubleClicked) = "onRowDoubleClick($event)"
></ag-grid-angular>
