<form (ngSubmit)="updateJobType()">

    <!-- Name -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="jobType.name">
        <span *ngIf="errors?.name" class="text-danger">{{ errors.name }}</span>
    </div>

    <p class="my-2">Created: {{ jobType.created_at | dateAgo }}</p>
    <p class="my-2">Updated: {{ jobType.updated_at | dateAgo }}</p>

    <button class="btn btn-dark btn-sm mt-4">
        Update
    </button>

</form>
